
* {
  font-family: Verdana, Helvetica, sans-serif;
}

html {
}

ul {
  list-style-type:square;
}

#container {
  overflow: hidden;
  width:100%;
}

header {
  background-color:#000033;
  text-align:center;
  color:lightblue;
  padding:1px;
}

h5 {
  margin:5px;
}

nav {
    font-size:80%;
    line-height:17px;
    background-color:#eeeeee; 
/*    background-color:#000044;  */
/*    color:#FFFFFF;
*/    width:200px;
    float:left;
    padding:5px; 
    padding-bottom:100%;
    margin-bottom:-100%;
}

section {
    width:350px;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px; 
    padding-bottom:100%;
    margin-bottom:-100%;
}

footer {
    background-color:#000033;
    color:lightblue;
    clear:both;
    text-align:center;
    padding:1px; 
}

input#backbtn {
  font-size:100%;
}

textarea, input {
  font-size:120%;
  background-color:#F0F0F0;
}

textarea {
  margin-bottom:5px;
}

#wrapper {
    width:2500px;
    overflow: hidden;
}

#first {
    width:auto;
    float:left;
    padding-right:15px;
}

#second {
    float:left;
}

/* blue button */

input.btn.btn-blue {
  margin-bottom:10px;
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

input.btn.btn-blue:hover {
  background-color: #4F87A2;
  border-color: rgba(0,0,0,0.5);
}

input.btn.btn-blue:active {
  background-color: #3C677B;
  border-color: rgba(0,0,0,0.9);
}

object {
  height:100vh;
}

body {
  background-color:#D8D8D8;
}
